body{font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;}
header{padding:20px 0px;}
.let-learn a{color:#fff; margin:0px; font-size: 22px; font-weight: bold;}
.let-learn a:hover, .let-learn a:focus{color:#fff; text-decoration: none; outline: none;}
.right-header{float:right; text-align: right;}
.heading{color:#5f5f5f; margin:0px;font-weight: bold;}
.right-header a{padding:0px 10px; display:inine-block; vertical-align:middle;}
.box{ padding:40px 0px 35px; text-align: center; overflow: hidden;width:100%;display: block; }

/*==================================== strands page==================================== */

.strands-page .light-green-bg{background:#9acf7d; }

.box-2{padding:40px 0px 70px; text-align: center; width:100%;display: block;}
.strands-page a{color:#fff; margin:0px; font-size: 23px; font-weight: bold;}
.strands-page a:hover, .strands-page a:focus{color:#fff; text-decoration: none; outline: none;}

/*=======================================end=========================================== */
/*============================================= blube-page============================= */

.blube-page .img-div{padding:40px 0px;}
.blube-page a{color:#fff; font-size: 22px; font-weight: bold;}
.blube-page a:hover, .blube-page a:focus{color:#fff; text-decoration: none; outline: none;}
.blube-page .green-bg{background:#88d392; padding:10px 0px; text-align: center; width:100%; display: block;}
.blube-page .green-bg2{background:#88d392; padding:10px 0px 30px; text-align: center; width:100%; display: block;}
.img-width{width:100%;}

/*============================================= end============================= */
