/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2016, 5:17:26 PM
    Author     : Anup Bhardwaj
*/
body{font-family:Open Sans !important;}
header{padding:20px 0px;}
.let-learn a{color:#fff; margin:0px; font-size: 22px; font-weight: bold;}
.let-learn a:hover, .let-learn a:focus{color:#fff; text-decoration: none; outline: none;}
.right-header{float:right; text-align: right;}
.heading{color:#5f5f5f; margin:0px;font-weight: bold;}
.right-header a{padding:0px 10px; display:inine-block; vertical-align:middle;}
.box{ padding:40px 0px 35px; text-align: center; overflow: hidden;width:100%;display: block; }


/*==================================== strands page==================================== */

.strands-page .light-green-bg{background:#9acf7d; }

.box-2{padding:40px 0px 70px; text-align: center; width:100%;display: block;}
.strands-page a{color:#fff; margin:0px; font-size: 23px; font-weight: bold;}
.strands-page a:hover, .strands-page a:focus{color:#fff; text-decoration: none; outline: none;}

/*=======================================end=========================================== */
/*============================================= blube-page============================= */

.blube-page .img-div{padding:40px 0px;}
.blube-page a{color:#fff; font-size: 22px; font-weight: bold;}
.blube-page a:hover, .blube-page a:focus{color:#fff; text-decoration: none; outline: none;}
.blube-page .green-bg{background:#88d392; padding:10px 0px; text-align: center; width:100%; display: block;}
.blube-page .green-bg2{background:#88d392; padding:10px 0px 30px; text-align: center; width:100%; display: block;}
.img-width{width:100%;}

/*============================================= end============================= */

.logo-page label{display:block; font-size: 18px; font-weight: normal;text-align: center;}
.logo{margin:10px 0px; display: inline-block; width:100px; height:100px;}
.logo img{width:100%;}
.logo-page .input-group{margin-bottom: 30px;}
.input-data{    width: 90%;
    display: block;
    position: relative;
    margin: 0px auto 30px;
}
.logo-page .input-group .form-control{margin: 10px auto; border-radius: 0px;}
.blue-btn{background:#28a4c9; color:#fff; width:100%;}
.blue-btn:hover{color:#fff !important;}
.link{   padding:10px 0px;font-size: 22px; background:#88d392;display: block; color:#fff;}
.link:hover{color:#fff; text-decoration: none;}
.logo-page h2{color:#88d392; text-transform: uppercase; font-size: 40px;}
.paragraph-2{font-size: 13px; color:#5f5f5f;}
.logo-page .img-content{margin:0px -15px;}
@media screen and (max-width:640px)
{
    .heading{}
}